In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#Extracting Data

In [3]:
def load_data(file_name):
  '''
    Menampilkan data yang tersedia.

      Parameters:
        filename (str): Nama file yang tersedia

      Return:
        File Dataframe (DataFrame)
  '''

  df = pd.read_csv(file_name)
  return df

In [4]:
df = load_data('data/fashion_products.csv')
df.head()

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
0,19,1,Dress,Adidas,Men's Fashion,40,1.043159,Black,XL
1,97,2,Shoes,H&M,Women's Fashion,82,4.026416,Black,L
2,25,3,Dress,Adidas,Women's Fashion,44,3.337938,Yellow,XL
3,57,4,Shoes,Zara,Men's Fashion,23,1.049523,White,S
4,79,5,T-shirt,Adidas,Men's Fashion,79,4.302773,Black,M

In [5]:
df.describe()

          User ID   Product ID        Price       Rating
count  1000.00000  1000.000000  1000.000000  1000.000000
mean     50.41900   500.500000    55.785000     2.993135
std      28.78131   288.819436    26.291748     1.153185
min       1.00000     1.000000    10.000000     1.000967
25%      26.00000   250.750000    33.000000     1.992786
50%      50.00000   500.500000    57.000000     2.984003
75%      75.00000   750.250000    78.250000     3.985084
max     100.00000  1000.000000   100.000000     4.987964

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User ID       1000 non-null   int64
 1   Product ID    1000 non-null   int64
 2   Product Name  1000 non-null   object
 3   Brand         1000 non-null   object
 4   Category      1000 non-null   object
 5   Price         1000 non-null   int64
 6   Rating        1000 non-null   float64
 7   Color         1000 non-null   object
 8   Size          1000 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

#Check Data

In [7]:
def check_data(data):
  '''
    Mengecek data null dan data duplikat.

      Parameters:
        data: Data yang ingin dicek

      Return:
        (str): Jumlah data null dan data duplikat
  '''

  null_data = data.isnull().sum()
  duplicated_data = data.duplicated().sum()

  print(f"Null Data:\n{null_data}\n\nDuplicated Data: {duplicated_data}" )

In [8]:
check_data(df)

Null Data:
User ID         0
Product ID      0
Product Name    0
Brand           0
Category        0
Price           0
Rating          0
Color           0
Size            0
dtype: int64

Duplicated Data: 0

#Cleaning Data

In [97]:
df['Rating'] = df['Rating'].round(0)

In [98]:
df

,User ID,Product ID,Product Name,Brand,Category,Price,Rating,Color,Size
0,19,1,Dress,Adidas,Men's Fashion,40,1.0,Black,XL
1,97,2,Shoes,H&M,Women's Fashion,82,4.0,Black,L
2,25,3,Dress,Adidas,Women's Fashion,44,3.0,Yellow,XL
3,57,4,Shoes,Zara,Men's Fashion,23,1.0,White,S
4,79,5,T-shirt,Adidas,Men's Fashion,79,4.0,Black,M
...,...,...,...,...,...,...,...,...,...
995,20,996,Shoes,Zara,Women's Fashion,55,2.0,Black,M
996,42,997,Sweater,Nike,Kids' Fashion,13,2.0,Green,L
997,9,998,Sweater,Zara,Men's Fashion,47,4.0,White,L
998,8,999,T-shirt,Zara,Women's Fashion,68,3.0,Blue,S
999,91,1000,Shoes,Adidas,Women's Fashion,79,3.0,White,L